*{
    box-sizing: border-box;
}
body{
    margin: auto;
}
.headercontainer{
    background-color: #000f67;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
}
.links{
    display: flex;
    flex-direction: row;
   align-items: center;
   gap: 0.5rem;
}

header img{
    max-width: 100%;
}