*{
    box-sizing: border-box;
}
body{
    margin: auto;
    font-family: "Liter", serif;
}

:root {
    --blue-background-color: #000f67;
    --extrablue-background-color: #2d75c7;
    --h2howmuchleft-margin-left: 1rem;
}

.headercontainer{
    background-color: var(--blue-background-color);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
}
.links{
    display: flex;
    flex-direction: row;
   align-items: center;
   gap: 0.5rem;
}

.storbildtext{
    background-image: url(applications-7025904_1280.jpg);
    min-height: 45rem;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.storbildtext div{
    color: white;
    text-align: center;
    padding: 13rem;
    
}
 
.storbildtext a{
    background-color: var(--extrablue-background-color);
    text-decoration: none;
    color: white;
    padding: 1rem;
    
}
.storbildtext a:hover{
background-color: var(--blue-background-color);
 }
h2{
    margin-left: var(--h2howmuchleft-margin-left)
}

 .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 3rem;
    padding: 1rem;
   
}
.box{
    display: block;
    border-style: solid;
    border-color: black;
    border-width: 0.01rem;
    width: 15rem;
    height: 15rem;
}

.övre{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 244, 249);
}
.övre img{
    max-width: 14.9rem;
    max-height: 10rem;
    
    
}
.nedre{
    margin-left: 0.3rem;
}