*{
    box-sizing: border-box;
}
body{
    margin: auto;
    font-family: "Liter", serif;
}

:root {
    --blue-background-color: #000f67;
    --extrablue-background-color: #2d75c7;
    --h2howmuchleft-margin-left: 1rem;
    --h6storbildtext-margin: -1rem;
    --boxessize-width: 15rem;
    --boxessize-height: 17.5rem;
}
a{
    text-decoration: none;
}
.headercontainer{
    background-color: var(--blue-background-color);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}
nav{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
}
nav a{
    color: white;
}
nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav h4{
    margin-left: 1rem;
}
.links{
    display: flex;
    flex-direction: row;
   align-items: center;
   gap: 0.5rem;
}

.storbildtext{
    background-image: url(applications-7025904_1280.jpg);
    min-height: 45rem;
    display: flex;
    background-position: center;
    justify-content: flex-start;
    align-items: flex-start;
}
.storbildtext div{
    color: white;
    text-align: center;
    padding: 13rem;
    
}
.storbildtext h6{
    margin-top: var(--h6storbildtext-margin);
    margin-bottom: var(--h6storbildtext-margin);
}
 
.storbildtext a{
    background-color: var(--extrablue-background-color);
    color: white;
    padding: 1rem;
    
}
.storbildtext a:hover{
background-color: var(--blue-background-color);
 }
h2{
    margin-left: var(--h2howmuchleft-margin-left)
}

 .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 3rem;
    padding: 1rem;
   
}
.box{
    display: block;
    border-style: solid;
    border-color: black;
    border-width: 0.01rem;
    width: var(--boxessize-width);
    height: var(--boxessize-height);
}

.övre{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 244, 249);
}
.övre img{
    max-width: 14.9rem;
    max-height: 10rem;
}
.nedre{
    margin-left: 0.3rem;
}
.nedre a {
    color: white;
    text-decoration: none;
    margin-left: 5.5rem;
    background-color: var(--extrablue-background-color);
    padding-top: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;

}
.nedre a:hover{
    background-color: var(--blue-background-color);
     }
footer{
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        color: white;
        margin-top: 4rem;
}
footer a {
    color: white;
}

.köpbildochtext{
    display: flex;
    justify-content: space-around;
}
.köpbildochtext img {
    max-width: 40rem;
    max-height: 40rem;
    align-items: center;
}
.bildtextbottom a {
    color: white;
    text-decoration: none;
    background-color: var(--extrablue-background-color);
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    border-radius: 4rem;

}
.bildtextbottom a:hover {
    background-color: var(--blue-background-color);
}
.description{
    display: flex;
    justify-content: space-around;
}
.descriptionh5width{
    max-width: 25rem;
}
.description h5{
border-style: solid;
padding: 0.5rem;
}
